<div class="ui modal book-review">
  <i class="close icon"></i>
  <div id="modal-title" class="header">
    <p> Some Title </p>
  </div>
  <div class="content">
    <div id="modal-image"class="image">
    </div>
    <div class="description">
      	<div class="ui star rating" data-rating="3" data-max-rating="5">Hello</div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
