<%= render "layouts/navbar" %>

<div class="top-section bg-image faraaz-img"></div>
<div class="currently-reading">
		<h2 class="nutshell"> Life in a nutshell </h2>
	</div>
<div class="timeline-container">
	<section id="cd-timeline">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">Born - Chennai, India</h2>
				<img src="/assets/faraaz-baby.jpg" alt="">
				<p> There was a little bit of confusion when I came out so white. There was talk of a possible mix up in the hospital.</p>	
				<span class="cd-date black">April 17, 1993</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	 	
	 	<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">Competition Arrived</h2>
				<img src="/assets/farhaan-baby.jpg" alt="">
				<p> Meet my litte brother Farhaan. Without seeking my approval on the topic, my parents decided to bring another human being into the world. I guess they wanted to see if they could get it right the second time. They didn't.</p>
				<span class="cd-date black">September 13, 1997</span>
			</div> <!-- cd-timeline-content -->
		</div>

	 	<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">The big move</h2>
				<img src="/assets/USA.jpg" alt="">
				<p> This picture is actually later than 2001, but it captures the essence of that year pretty accurately. That was the year my family left everything behind to move to the United States.</p>
				<span class="cd-date black">September 2001</span>
			</div> <!-- cd-timeline-content -->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">The big move</h2>
				<img src="/assets/USA.jpg" alt="">
				<p> This picture is actually later than 2001, but it captures the essence of that year pretty accurately. That was the year my family left everything behind to move to the United States.</p>
				<span class="cd-date black">September 2001</span>
			</div> <!-- cd-timeline-content -->
		</div>   
		
</section>
</div>