<%= render "layouts/navbar" %>

<div class="top-section bg-image faraaz-img">
<div class="darken"></div>
	<div class="welcome-text">
		<h1 class="reset">Faraaz Nishtar</h1>
	</div>
</div>
<div class="currently-reading">
		<h2 class="nutshell"> Life in a nutshell </h2>
	</div>
<div class="timeline-container">
	<section id="cd-timeline">
		<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">Born - Chennai, India</h2>
				<!-- <img src="/assets/faraaz-baby.jpg" alt=""> -->
				<%= image_tag "faraaz-baby.jpg" %>
				<p> There was a little bit of confusion when I came out so white. There was talk of a possible mix up in the hospital.</p>	
				<span class="cd-date black">April 17, 1993</span>
			</div> <!-- cd-timeline-content -->
		</div> <!-- cd-timeline-block -->
	 	
	 	<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">Competition Arrived</h2>
				<img src="/assets/farhaan-baby.jpg" alt="">
				<p> Meet my litte brother Farhaan. Without seeking my approval, my parents decided to bring another human being into the world. I guess they wanted to see if they could get it right the second time. They didn't.</p>
				<span class="cd-date black">September 13, 1997</span>
			</div> <!-- cd-timeline-content -->
		</div>

	 	<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">The big move</h2>
				<img src="/assets/USA.jpg" alt="">
				<p> This picture is actually later than 2001, but it captures the essence of that year pretty accurately. That was the year my family left everything behind to move to the United States. We initially lived in the Bay Area before we tried our luck up north.</p>
				<span class="cd-date black">September 2001</span>
			</div> <!-- cd-timeline-content -->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">Redding</h2>
				<p>I'm not sure if this was the exact year, but our family moved to a city in Northern California called Redding. This is the city I consider to be raised in because I spent the majority of K-12 schooling here. </p>
				<span class="cd-date black">2006</span>
			</div> <!-- cd-timeline-content -->
		</div>   
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">First Kiss! </h2>
				<span class="cd-date black">2009</span>
			</div> <!-- cd-timeline-content -->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">Graduated High School! </h2>
				<img src="/assets/graduation.jpg" alt="">
				<span class="cd-date black">2011</span>
			</div> <!-- cd-timeline-content -->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">San Jose State University!</h2>
				<p>"I have no clue what I want to do with my life." Computers are fun..</p>
				<span class="cd-date black">2012</span>
			</div> <!-- cd-timeline-content -->
		</div>

		<div class="cd-timeline-block">
			<div class="cd-timeline-img time-point">
			</div> <!-- cd-timeline-img -->
	 
			<div class="cd-timeline-content">
				<h2 class="center">Dev Bootcamp</h2>
				<img src="/assets/dbc.JPG" alt="">
				<p> Programming for me wasn't love at first sight. I was more motivated by the fact that I wanted to build things. To test the waters I took an Introductory Computer Science course called CS50. Only after feeling the joy of finishing a program a couple times did I really start considering this as a career choice. Dev Bootcamp was the perfect place to kickstart my career. </p>
				<span class="cd-date black">2014</span>
			</div> <!-- cd-timeline-content -->
		</div>           
</section>
</div>

<%= render "layouts/footer"  %>