<%= render "layouts/navbar" %>
	<div class="top-section bg-image">
		<div class="circular-icon bg-grey" id="nav-button">
			<i class="fa fa-bars fa-2x white"></i>
		</div>
	</div>
	<div class="currently-reading">
		<h2> Currently Reading </h2>
	</div>
	<div class="books-section">
		<div class="ui six doubling cards">
		    <% @currently_reading.each do |book| %>
			  <div class="card card-width">
			    <div class="image image-size">
			      <img id="img-height" src="<%= book.image %>">
			    </div>
			  </div>
			<% end %>
		</div>
	</div>
	<div class="currently-reading">
		<h2> Read </h2>
	</div>
	<div class="books-section">
		<div class="ui six doubling cards">
		    <% @finished_reading.each do |read| %>
			  <div class="card card-width rise">
			  	<div class="reviewed-flag">
			  		<p>Reviewed</p>
			  	</div>
			    <div class="image image-size">
			      <img id="img-height" src="<%= read.book.image %>">
			    </div>
			     <div class="extra">
			      Rating:   
			      <div class="ui star rating" data-rating="<%= read.book.rating %>" data-max-rating="5"></div>
			    </div>
			  </div>
			<% end %>
		</div>
	</div>

	<div class="ui modal">
	  <i class="close icon"></i>
	  <div class="header">
	    Modal Title
	  </div>
	  <div class="content">
	    <div class="image">
	      An image can appear on left or an icon
	    </div>
	    <div class="description">
	      	<div class="ui star rating" data-rating="3" data-max-rating="5">Hello</div>
	    </div>
	  </div>
	  <div class="actions">
	    <div class="ui button">Cancel</div>
	    <div class="ui button">OK</div>
	  </div>
	</div>