.faraaz-img {
  background-image: image-url("background.jpg"); 
}

.darken {
    width:100%;
    height:100%;
    position: absolute;
    background-size: cover;
	background: rgba(0, 0, 0, 0.5);
}

h1.reset {
	font-family: 'Open Sans', serif;
	font-size: 4em;
	margin-top: 0px;
	color: white;
}
.welcome-text {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-100%);
}

div.time-point {
	background-color: #DB3E3E;
}
@media only screen and (min-width: 1170px) {

	.timeline-container {
		padding-right: 12em;
		padding-left: 12em;
	}
}
p {
	color: black;
}


h2.nutshell {
	color: black;
}

.black {
	color: black;
}

.currently-reading h2.nutshell {
	margin-top: 2em;
}
h2.center {
	margin-top: 14px;
	text-align: center;
}

img.timeline-image {
	width: 250px;
	height: 200px;
}
.center-inner {
    width: 50%;
    margin: 0 auto;
}
