/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .top-section {
 	width: 100%; 
    height: 40em; 
 }

 .books-section {
 	margin-top: 2.2em;
 	padding-right: 10%; 
 	padding-left: 10%;
 }

.currently-reading h2 {
	margin-top: 1em;
	text-align: center;
}

 #img-height {
 	width: 100%;
 	height: 23em;
 	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.bg-image {
  position: relative;
  background-image: url("/assets/open_book.jpg"); 
  background-size: cover;
}

.circular-icon {
	position: fixed;
	margin-left: 2em;
	margin-top: 1em;
	width: 50px;
	height: 50px;
	line-height: 58px;
	border-radius: 100%;
	text-align: center;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.bg-grey {
	background-color: #D4D0D0;
}

 .white {
 	color: white;
 }

 .rise:hover {
	-ms-transform: translate(0px,-5px); /* IE 9 */
   	-webkit-transform: translate(0px,-5px); /* Chrome, Safari, Opera */
 }

 .reviewed-flag {
 	background-color: #00B5AD;
 	width: 50%;
 	position: absolute;
 	z-index: 1;
 	right: 0px;
 }

.reviewed-flag p{
	margin-top: 3px;
	margin-bottom: 4px;
	color: white;
	text-align: center;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
	.top-section {
	 	width: 100%; 
	    height: 50em; 
	    z-index: -1;
 }
}

@media only screen 
and (min-width : 400px) 
and (max-width : 500px) { 
	#img-height {
 	height: 18em;
	}
}

@media only screen 
and (min-width : 500px) 
and (max-width : 600px) { 
	#img-height {
 	height: 23em;
	}
}

@media only screen 
and (min-width : 600px) 
and (max-width : 767px) { 
	#img-height {
 	height: 28em;
	}
}

@media only screen 
and (min-width : 991px) 
and (max-width : 1420px) { 
	#img-height {
 	height: 15em;
	}
}
@media only screen 
and (min-width : 1420px) 
and (max-width : 1520px) { 
	#img-height {
 	height: 17em;
	}
}