<footer>
  <div class="inner">
    <div class="copyright">
      <span>&copy; 2015 Faraaz Nishtar</span>
    </div>
    
    <div class="social">
      <ul class="icons">
        <li class="col-4">
          <a href="https://linkedin.com/in/faraazn/en" target="_blank" class="zocial-linkedin"></a>
        </li>
        <li class="col-4">
          <a href="https://github.com/iMuzz" target="_blank" class="zocial-github"></a>
        </li>
        <li class="col-4">
          <a href="https://www.facebook.com/faraazn" target="_blank" class="zocial-facebook"></a>
        </li>
        <li class="col-4">
          <a href="https://twitter.com/FaraazNishtar" target="_blank" class="zocial-twitter"></a>
        </li>
        <li class="col-4">
          <a href="https://plus.google.com/107749376288480166720/posts" target="_blank" class="zocial-googleplus"></a>
        </li>
      </ul>
    </div>
    
  </div>
</footer>