<div class="ui thin left vertical sidebar menu">
  <a class="item">
    <i class="home"></i>
    About Me
  </a>
  <a class="item">
    <i class="block layout"></i>
    Portfolio
  </a>
  <a class="item">
    <i class="smile"></i>
    Books
  </a>
  <a class="item">
    <i class="calendar"></i>
    Contact
  </a>
</div>
