<div class="ui left vertical sidebar menu">
  <div class="nav-image">
    <img class="img-circ" src="/assets/headshot.jpg" alt="">
  </div>
  <a href="/" class="item nav-item">
    <i class="home"></i>
    About Me
  </a>
<!--   <a class="item nav-item">
    <i class="block layout"></i>
    Portfolio
  </a> -->
  <a href="/books" class="item nav-item">
    <i class="smile"></i>
    Books
  </a>
<!--   <a class="item nav-item">
    <i class="calendar"></i>
    Contact
  </a> -->
</div>
<div class="circular-icon bg-grey" id="nav-button">
  <i id="nav-btn" class="fa fa-bars fa-2x white"></i>
</div>