<div class="ui left vertical sidebar menu visible">
  <a class="item">
    <i class="home icon"></i>
    About Me
  </a>
  <a class="item">
    <i class="block layout icon"></i>
    Portfolio
  </a>
  <a class="item">
    <i class="smile icon"></i>
    Books
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    Contact
  </a>
</div>
<div class="pusher">
	<h1>Welcome#home</h1>
	<p>Find me in app/views/welcome/home.html.erb</p>
</div>
