<!DOCTYPE html>
<html>
<head>
  <title>Faraaz</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="pusher"> <!-- This is necessary for slideout navbar -->

	<%= yield %>

	 </div>
</body>
  <%= javascript_include_tag 'application' %>
</html>
